<div class="section-contents-inner-video-inner">
  <%= render partial: 'web/videos/partials/video_player', locals: {
    video_url: video.file_url,
    thumb_url: video.thumb_url
  }%>
  <div class="section-contents-inner-video-inner-detail">
    <div class="section-contents-inner-video-inner-detail-wrap clearfix">
      <div class="section-contents-inner-video-inner-detail-title">
          <%= render partial: 'web/videos/partials/like', locals: {video: video, videos: @videos, likes: @likes, like: @like, user: current_user} %>
          <a href="/videos/<%= video.id %>" class=""><%= video.title %></a>
      </div>
    </div>
    <div class="section-contents-inner-video-inner-detail-serise clearfix">
      <div class="section-contents-inner-video-inner-detail-serise-inner">
        <div class="section-contents-inner-video-inner-detail-serise-l">
          <div class="section-contents-inner-video-inner-detail-serise-image" style="background-image:url(<%= video.creator.icon_url %>);"></div>
        </div>
        <div class="section-contents-inner-video-inner-detail-serise-r">
          <div class="section-contents-inner-video-inner-detail-serise-text">
            <p><%= video.creator.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <%= link_to 'コメントする', new_video_comment_path(video), class: 'btn btn-default' %>
    </div>
    <div class="video-comments clearfix">
          <ul>
            <% video.comments.each do |comment| %>
              <li>
                <div class="meta">
                  <div class="meta-title">
                    <%= comment.user.nickname %>
                  </div>
                  <div class="user_review">
                    <%= comment.content %>
                  </div>
              </div>
              </li>
            <% end %>
          </ul>
    </div>
  </div>
</div>
