<div class="section-contents-inner-video-inner">
  <%= render partial: 'web/videos/partials/video_player', locals: {
    video_url: video.file_url,
    thumb_url: video.thumb_url
  }%>
  <div class="section-contents-inner-video-inner-detail">
    <div class="section-contents-inner-video-inner-detail-wrap clearfix">
      <div class="section-contents-inner-video-inner-detail-title">
        <p>
        <%= video.title %>
        </p>
      </div>
    </div>
    <div class="section-contents-inner-video-inner-detail-serise clearfix">
      <div class="section-contents-inner-video-inner-detail-serise-inner">
        <div class="section-contents-inner-video-inner-detail-serise-l">
          <div class="section-contents-inner-video-inner-detail-serise-image" style="background-image:url(<%= video.creator.icon_url %>);"></div>
        </div>
        <div class="section-contents-inner-video-inner-detail-serise-r">
          <div class="section-contents-inner-video-inner-detail-serise-text">
            <p><%= video.creator.name %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="video-comments">
        <%= link_to 'コメントする', new_video_comment_path(video) %>
          <ul>
            <% video.comments.each do |comment| %>
              <li>
                <p><%= comment.user.nickname %></p>
                <p><%= comment.content %></p>
              </li>
            <% end %>
          </ul>
      </div>
  </div>
</div>
