<div id="section-contents-inner-video">
  <div class="section-contents-inner-video-inner">
    <div class="search-bar">
      <%= render partial: 'web/videos/partials/search_bar', locals: {videos: @videos }%>
    </div>

    <div class="index-title">
      <h1>最新動画</h1>
    </div>
    <ul>
      <% videos.each do |video| %>
        <li>
          <% if video.status_code == "visible" %>
            <%= render partial: 'web/videos/partials/video_player', locals: {
              video_url: video.file_url,
              thumb_url: video.thumb_url
            }%>
            <div class="section-contents-inner-video-inner-detail">
              <div class="section-contents-inner-video-inner-detail-wrap clearfix">
                <div class="section-contents-inner-video-inner-detail-title">
                    <%= render partial: 'web/videos/partials/like', locals: {video: video, videos: @videos, likes: @likes, like: @like, user: current_user} %>
                    <a href="/videos/<%= video.id %>" class=""><%= video.title %></a>
                </div>
              </div>
              <div class="section-contents-inner-video-inner-detail-serise clearfix">
                <div class="section-contents-inner-video-inner-detail-serise-inner">
                  <div class="section-contents-inner-video-inner-detail-serise-l">
                    <div class="section-contents-inner-video-inner-detail-serise-image" style="background-image:url(<%= video.creator.icon_url %>);"></div>
                  </div>
                  <div class="section-contents-inner-video-inner-detail-serise-r">
                    <div class="section-contents-inner-video-inner-detail-serise-text">
                      <p><%= video.creator.name %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
