<%= render partial: 'web/partials/header.html.erb' %>
<div id="section-contents-inner-video">

  <div class="section-contents-inner-video-inner-detail">
    <ul>
      <% videos.each do |video| %>
        <li>
          <% if video.status_code == "visible" %>
            <%= render partial: 'web/videos/partials/video_player', locals: {
              video_url: video.file_url,
              thumb_url: video.thumb_url
            }%>

            <div class="section-contents-inner-video-inner-detail-wrap clearfix">
              <div class="section-contents-inner-video-inner-detail-title">
                <p>
                  <a href="/videos/<%= video.id %>" class=""><%= video.title %></a>
                </p>
              </div>
            </div>

            <div class="section-contents-inner-video-inner-detail-serise clearfix">
              <div class="section-contents-inner-video-inner-detail-serise-inner">
                <div class="section-contents-inner-video-inner-detail-serise-l">
                  <div class="section-contents-inner-video-inner-detail-serise-image" style="background-image:url(<%= video.creator.icon_url %>);"></div>
                </div>
                <div class="section-contents-inner-video-inner-detail-serise-r">
                  <div class="section-contents-inner-video-inner-detail-serise-text">
                    <p><%= video.creator.name %></p>
                  </div>
                </div>
              </div>
            </div>

          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render partial: 'web/partials/footer.html.erb' %>