<div id="section-contents-inner-video">
  <div class="section-contents-inner-video-inner">
    <%= search_form_for(@q, url: search_path, class: 'well') do |f| %>
      <div class="form-group">
        <%= f.label :title_cont, 'タイトル' %>
        <%= f.text_field :title_cont, class: 'form-control' %>
      </div>
    <%= f.submit '検索', class: 'btn btn-default' %>
    <% end %>

    <div class="index-title">
      <h1>検索結果</h1>
    </div>
    <ul>
      <% videos.each do |video| %>
        <li>
          <% if video.status_code == "visible" %>
            <%= render partial: 'web/videos/partials/video_player', locals: {
              video_url: video.file_url,
              thumb_url: video.thumb_url
            }%>
            <div class="section-contents-inner-video-inner-detail">
              <div class="section-contents-inner-video-inner-detail-wrap clearfix">
                <div class="section-contents-inner-video-inner-detail-title">
                  <p>
                    <a href="/videos/<%= video.id %>" class=""><%= video.title %></a>
                  </p>
                </div>
              </div>
              <div class="section-contents-inner-video-inner-detail-serise clearfix">
                <div class="section-contents-inner-video-inner-detail-serise-inner">
                  <div class="section-contents-inner-video-inner-detail-serise-l">
                    <div class="section-contents-inner-video-inner-detail-serise-image" style="background-image:url(<%= video.creator.icon_url %>);"></div>
                  </div>
                  <div class="section-contents-inner-video-inner-detail-serise-r">
                    <div class="section-contents-inner-video-inner-detail-serise-text">
                      <p><%= video.creator.name %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
