<div class="user_page">
  <header class="user_page-header">
    <div class="user-name">
      <h2><%= @user.nickname %></h2>
    <div class="navbar">
      <ul>
        <li><%= link_to 'コメントした動画', user_path(@user) %></li>
        <li><%= link_to 'いいねした動画', likes_user_path(@user) %></li>
      </ul>
    </div>
    </div>
  </header>
    <div id="section-contents-inner-video">
      <div class="section-contents-inner-video-inner">
          <ul class="user_page-contents">
          <% @comments.each do |comment| %>
            <li>
            <%= render partial: 'web/videos/partials/video_player', locals: {
                  video_url: comment.video.file_url,
                  thumb_url: comment.video.thumb_url
                }%>
              <div class="meta">
                  <div class="meta-title">
                    <%= comment.video.title %>
                    <%= render partial: 'web/videos/partials/like', locals: {video: comment.video} %>
                  </div>
                <div class="user_review"><%= comment.content %></div>
              </div>
            </li>
            <% end %>
           </ul>
      </div>
    </div>
</div>
