<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mixi: http://mixi-platform.com/ns# website: http://ogp.me/ns/website#" class="no-js">

<%= render partial: 'web/partials/head_tags' %>

<body class="page-video">
  <%= render partial: 'web/partials/header' %>
  <main id="section-contents">
    <div class="section-contents-inner">
      <%= yield %>
    </div>
  </main>
  <%= render partial: 'web/partials/footer' %>
</body>

<%= javascript_include_tag 'web/application', 'data-turbolinks-track': 'reload' %>

</html>
